<article class="is-post is-post-excerpt">
	<header>
   	<h2>Registrate!</h2>
      <span class="byline">Ingresa tus datos de usuario</span> 
	</header>
</article>

<%= render partial: "shared/error_partial", locals: { object: @user } %>

<%= render "form" %>
