<div class="info">
  <ul class="stats">
    <li><a href="#" class="link-icon24 link-icon24-1">16</a></li>
    <li><a href="#" class="link-icon24 link-icon24-2">32</a></li>
    <li><a href="#" class="link-icon24 link-icon24-3">64</a></li>
    <li><a href="#" class="link-icon24 link-icon24-4">128</a></li>
  </ul>
</div>