<article class="is-post is-post-excerpt">
	<header>
   	<h2>ALBUM PANINI</h2>
      <span class="byline">El Album del mundial que todos estaban esperando</span> 
	</header>
	<%= render partial: "shared/social_shares" %>
	<%= image_tag "pninialbum.jpg" %>
</article>

