<article class="is-post is-post-excerpt">
	<header>
   	<h2>Editar Pais</h2>
      <span class="byline"><%= @country.name %></span> 
	</header>
</article>
<%= render partial: "shared/error_partial", locals: { object: @country } %>

<%= render "form" %>

<ul>
	<li><%= link_to "Cancelar", @country %></li>
</ul>
