<h1>Editar Pais</h1>
<h2><%= @country.name %></h2>

<%= render partial: "shared/error_partial", locals: { object: @country } %>

<%= render "form" %>

<ul>
	<li><%= link_to "Cancelar", @country %></li>
</ul>
