<article class="is-post is-post-excerpt">
	<header>
   	<h2>Paises en el Panini</h2>
      <span class="byline">Listado de paises clasificados a Brasil 2014!</span> 
	</header>
</article>
<%= index_description %>
<% if @countries.any? %>
	<% if flash[:notice] %>
		<div><em><%= flash[:notice] %></em></div>
	<% end %>
	<table class="bordered">
		<thead>
		<tr>
			<th>Posicion</th>
			<th>Nombre</th>
			<th>Email</th>
			<th>Tengo</th>
			<th>Me falta</th>
		</tr>
		</thead>
		<%= render @countries %>
	</table>
<% else %>
	<em><strong>No hay Paises Agregados aun!</strong></em>
<% end %>
<br>
<%= link_a_new_country %>

