<article class="is-post is-post-excerpt">
  <header>
    <h2><%= @country.name %></h2>
      <span class="byline">Vistas que me faltan!</span>
  </header>
</article>
<table class="bordered">
	<tr>
		<th>Numero</th>
		<th>Nombre</th>
	</tr>
	<%= render @missing %>
</table>
