<article class="is-post is-post-excerpt">
	<header>
   	<h2>Agregar un nuevo pais</h2>
      <span class="byline">Ingresa los datos de un nuevo pais!</span> 
	</header>
</article>

<%= render partial: "shared/error_partial", locals: { object: @country } %>

<%= render "form" %>

<ul>
	<li><%= link_to "Cancelar", countries_path %></li>
</ul>
